{{> menu active="admin" }}

<section class="columns is-centered">
  <section class="title p-4 column is-half">
  <h1> Admin Dashboard </h1>
  </section>
</section>
<section class="section">
  {{> list-users}}
  {{> analytics}}
</section>
