{{> menu active="dashboard" }}

<section class="section">
  <p> Hello {{user.firstName}}! Would you like to add to the discussion board? </p>
  {{> add-discussion}}
  {{> list-discussion}}
</section>
