{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="name is-underlined is-size-2">
      Category: {{category.name}}
    </div>
    {{> list-pois}}
    {{> add-poi}}
  </div>
  <div class="column">
    {{> category-image }}
  </div>
</section>