<form action="/discussion/add" method="POST">
  <div class="field">
    <label class="label">Discussion Board</label> 
    <input class="input" type="text" placeholder="Enter comment" name="comment">
  </div>
  <button class="button is-link">Add  </button>
</form>
