
<form class="box" action="/category/{{category._id}}/addpoi" method="POST">
  <label>Enter POI Details:</label>
  <div class="field">
    <label class="label">Name</label> <input class="input" type="text" placeholder="Enter point of interest title" name="name">
    <label class="label">Description</label> <input class="input" type="text" placeholder="Enter point of interest description" name="description">
    <label class="label">Latitude</label> <input class="input" type="text" placeholder="Enter point of interest latitude" name="latitude">
    <label class="label">Longitude</label> <input class="input" type="text" placeholder="Enter point of interest longitude" name="longitude">
    <!-- <label for="file-upload"> Upload an Image: </label> <input class="input" type="file" name="image" accept="image/*"> 
  --> 
  </div>
  <button class="button is-primary">Add Point of Interest</button>
</form>
