
<form action="/dashboard/addcategory" method="POST">
  <div class="field">
    <label class="label">Name</label> <input class="input" type="text" placeholder="Enter point of interest title" name="name">
  </div>
  <button class="button is-link">Add Category for Point of Interest</button>
</form>
