<div class="name is-underlined is-size-2" >
<h1> Analytics </h1>
</div>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Email</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {{#each allUsers}}
      <tr>
        <td>
          {{email}}
        </td>
         {{/each}}
        <td>
          {{count}}
        </td>
      </tr>
   
  </tbody>
</table>